.footer Button{
    text-shadow: 0 0 0.125rem rgba(0,0,0,0.5);
    border-radius: 0.2rem;
    padding: 0, 0.4375rem;
    height: 1.625rem;
    min-width: 2.0rem;
    font-size: 0.875rem;
    outline: none;
    margin: 0.2rem;
    
}

.footer div{
    display: inline-block;
}